<!DOCTYPE html>
<html lang="en">

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/public/js/angular.min.js"></script>
    <script src="/public/js/angular-route.min.js"></script>
    <script src="/public/js/main.js" defer></script>
    <script src="/public/js/slide.js" defer></script>
</head> -->

<body>
    <main class="main-home" ng-controller="HomeController">
        <div class="container">
            <div class="header-image">
                <div class="container">
                    <div class="slideshow-container">
                        <div class="mySlides fade1">
                            <img src="/image/slideshow1.jpg" style="width:100%">
                        </div>

                        <div class="mySlides fade1">
                            <img src="/image/slideshow2.jpg" style="width:100%">
                        </div>

                        <div class="mySlides fade1">
                            <img src="/image/slideshow3.jpg" style="width:100%">
                        </div>

                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                        <div class="indicators" style="text-align:center">
                            <span class="dot" onclick="currentSlide(1)"></span>
                            <span class="dot" onclick="currentSlide(2)"></span>
                            <span class="dot" onclick="currentSlide(3)"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-product">
                <div class="container">
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">TRENDING NOW</span>
                        </h3>
                        <div class="row">
                            <div class="col-md-4 col-sm-6" data-aos="fade-down" data-aos-duration="1500"
                                ng-repeat="product in productList | filter:{'category_id': 8}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">CHANDELIERS & PENDANTS</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 1}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">BATH & WALL LIGHTS</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 2}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">CEILING LIGHTS</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 3}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">FANS</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 4}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">OUTDOOR LIGHTS</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 5}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">LAMPS & SHADES</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 6}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h3 class="h-product-header" data-aos="fade-up" data-aos-duration="1500">
                            <span class="product-heading-text">MIRROR & HOME DECOR</span>
                        </h3>
                        <div class="row" data-aos="fade-down" data-aos-duration="1500">
                            <div class="col-md-4 col-sm-6"
                                ng-repeat="product in productList | filter:{'category_id': 7}">
                                <div class="h-product-item">
                                    <div class="h-product-image">
                                        <a href="" class="hpi-link">
                                            <img src="{{ product.thumbnail }}" alt="" class="pi-photo">
                                        </a>
                                    </div>
                                    <div class="h-product-content">
                                        <p class="hpc-heading">
                                            <a href="">{{ product.name }}</a>
                                        </p>
                                        <p class="hpc-subheading">{{ product.category_name }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</body>

</html>